body {
    background-color: grey;
    text-align: center;
    user-select: none;
}

.cell {
    width: 60px;
    height: 60px;
    background-color: turquoise;
}

.free {
    background-color: darkcyan;
}

.boom {
    background-color: red;
}

.status {
    font-size: xx-large;
}

.timer {
    margin-top: 20px;
    font-size: xx-large;
}

.lives {
    font-size: xx-large;
    color: deeppink;
}

.main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

